# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Environment
.env

# Node
/node_modules
npm-debug.log
yarn-error.log

# Angular cache
/.angular/cache

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
.history/

# Miscellaneous
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# PHP files don't belong here
composer.json
composer.lock