<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2 class="text-center">Rejestracja</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Nazwa użytkownika</label>
          <input type="text" class="form-control" id="username" placeholder="Wprowadź nazwę użytkownika" formControlName="name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Wprowadź email" formControlName="email">
        </div>
        <div class="form-group">
          <label for="password">Hasło</label>
          <input type="password" class="form-control" id="password" placeholder="Wprowadź hasło" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Zarejestruj się</button>
      </form>
    </div>
  </div>
</div>

